


.bkd-main{
    width: 100%;
    height: 100vh;
    background-color:rgb(208, 191, 255);
    background-image: url("../../../public/opimg.jpg");
    background-size: cover;
    background-position: center;
    
}

.bkd-chec-main{
    display: flex;
    justify-content: center;
}
.bkd-checkbox{

    width:600px;
   min-height:100px;
    margin-top: 50px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;

}

.bkd-checkbox-title{

    text-align: center;
    font-size: 25px;
    background-color: rgb(144, 12, 63);
    color: white;
}

.bkd-select{

    width: 300px;
    margin-left: 150px;
    margin-top: 50px;

}

.bkd-availabel-box{

    width: 500px;
    min-height: 200px;
    background-color: rgb(2, 6, 60);
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px;
    padding-top:20px;
}

.bkt-availabel-box-hed{

    color: white;
    margin-left: 150px;

}

.bkd-data{

    color: red;
}

.bkd-btn{

    margin-top: 50px;
    margin-left: 150px;
    width: 150px;
    height: 35px;
    border: none;
    background-color: rgb(0, 91, 65);
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.bkt-availabel-doc-hed{

   color: white;
}

.bkt-availabel-doctors{

    color: red;
    margin-left: 200px;
}


@media(max-width:600px){
    .bkd-checkbox{

        width: 400px;
       
      

    }

    .bkd-select{
        margin-left: 50px;
        margin-top: 30px;
    }


    .bkd-availabel-box{

        width: 300px;
        min-height: 100px;
        margin-left: 40px;
     
    }

    .bkt-availabel-box-hed{

        margin-left: 30px;
    }
    .bkt-availabel-doctors{

        color: red;
        margin-left: 50px;
    }
    .bkd-btn{
        margin-left: 80px;
    }
}



@media (max-width:400px){

    .bkd-select{
        margin-left: 70px;
        width: 200px;
      
    }

    .bkd-availabel-box{

        margin-left: 20px
     
    }



}