

.mang-home-iner-main {

    width: 100%;
    height: 100vh;

}

.mang-op-drop{

    position: absolute;
    right:20px;
    top: 100px;


}

.popup{

    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-top: 200px;
}

.mang-op-refr-text{

     font-size: 15px;
     font-weight: bold;
     color: blue;
     margin-left: 20px;
     margin-top: 10px;
    
}

.mang-op-refr-icon{

     color: red;
}

.mang-op-refr-main{

     cursor: pointer;
}

.mang-op-search-main{

     width: 100%;
     height: 50px;
     
     margin-top: 20px;
     display: flex;
    align-items: center;
   
}

.mang-op-search-input{

    width: 700px;
    height: 40px;
    margin-left: 150px;
    border-radius: 10px;
}






