


  .fix-main{
    width: 100%;
   min-height: 100vh;
    background-color:rgb(208, 191, 255);
    padding-top: 50px;
    display: flex;
    
  }

  .fix-cont{

    display: flex;
    justify-content: center;
  }

  .fix-box-main{

     width: 600px;
     height: 730px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;

}

form span{
    color: red;
}


.fix-title{

     font-size: 20px;
     text-align: center;
     background-color:rgb(144, 12, 63);
     color: white;

}

.fix-opttion{
    
    margin-left: 15px;
    font-size: 17px;
}

.fix-opt-ans{

    font-weight: bold;
    color: red;
}


.fix-form{

   margin-top: 50px;
   margin-left: 150px;

}

.fix-input{
    width: 300px;
    height: 30px;
}

.fix-select{

    width: 300px;
    height: 25px;

}

.fix-radio{

    margin: 5px;
    
}

.fix-btn-next{

    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: brown;
    color: white;
    margin-top: 30px;
    margin-left: 100px;


}


.fix-pyment-hed{

    font-size: 20px;
    margin-top: 50px;
    text-align: center;

    

}


.fix-pyment-select{

    margin-top: 70px;
    margin-left: 200px;

}

.fix-importent{

    width: 100%;
    height: 50px;
    background-color: rgb(187, 104, 104);
    border-radius: 20px;
    margin-top: 50px;
    color: white;
    padding-left: 25px;
    padding-top: 10px;

}

.fix-pyment-lable{

    font-size: 15px;
    font-weight: bold;

}

.fix-pyment-radio{

    width: 15px;
    height: 15px;
    margin-left: 5px;

}

.fix-confo-btn{

     width: 200px;
     height: 40px;
     background-color: green;
     color: white;
     border:none;
     border-radius: 10px;
     margin-left: 200px;
     margin-top: 150px;


}

.fix-pya-div{

     width: 200px;
     height: 30px;
     background-color: aqua;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     

}


.fix-pya-div2{

    width: 200px;
     height: 30px;
     background-color: rgb(68, 32, 250);
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
    color: white;


     

}


@media(max-width:600px){
    
    .fix-form{
        margin-left: 100px;
    }

}


@media(max-width:500px){

    .fix-box-main{
        width: 350px;
        height: 800px;
    }

    .fix-form{
        margin-left: 20px;
    }

    .fix-input{
        width: 300px;
        margin-bottom: 10px;
        
    }

    .fix-radio{
        margin-bottom: 10px;
    }
    

}


.pyment-main{

      
    width: 630px;
    height: 450px;
    background-color: white;
    margin-top: 30px;
    border-radius: 20px;
    
}

.pyment-title{

    text-align: center;
    font-size: 25px;
}

.pyment-opt-box{

    width: 100%;
    height: 200px;
    padding-top: 30px;
    display: grid;
    justify-content: center;
}

.pyment-online{

       width: 200px;
       height: 40px;
       background-color: rgb(219, 189, 152);
       border-radius: 10px;
       display: flex;
}

.pyment-cop{


    width: 200px;
    height: 40px;
    background-color: rgb(6, 134, 28);
    border-radius: 10px;
    display: flex;


}

.pyment-text{

    color: black;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 18px;
}

.pyment-text-on{

    color: white;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 18px;


}

.pyment-note{

    font-weight: bold;
    color: red;
    margin-left: 20px;
}

.pyment-not-text{

    font-size: 15px;
    color: red;
    margin-left: 20px;
}


.pyment-btn{

    width: 200px;
    height: 35px;
    background-color: rgb(3, 15, 72);
    color: white;
    border-radius: 10px;
    border: none;
    margin-left: 200px;
}

.pyment-radio{

      margin-left: 20px;
      width: 17px;
}

.pyment-fees{
     
     margin-left:  50px;
     font-size: 20px;
     font-weight: bold;
}


@media(max-width:500px){

       .pyment-btn{

         margin-left: 80px;
       }
}





