



.mang-side-main{

    width: 270px;
    height: 100vh;
    background-color: rgb(35, 45, 63);
    border: 2px solid rgb(105, 100, 143);
    padding-top: 50px;
    padding-left: 10px;

}



.mang-side-opt-box{

    width: 230px;
    height: 50px;
    background-color: rgb(203, 228, 222);
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 10px;

}

.mang-side-opt-text{

    text-align: center;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

