


.adddoc-title{
    text-align: center;
}



.adddoc-inner-box{

    width: 500px;
    height: 300px;
    /* background-color: aqua; */
    margin-left: 100px;
    margin-top: 50px;

}

.adddoc-select{

    width: 300px;
    margin-left: 100px;

}


.adddoc-sectitle{

    margin-left: 170px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(230, 14, 43);

}


.adddoc-new-btn{

    border: none;
    background-color: green;
    border-radius: 20px;
    color: white;
    font-size: 15px;

}

.adddoc-form-box-main{

    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-radius: 20px;
    background-color: rgb(236, 216, 190);
    border: 1px solid black;
    position: absolute;
    

}

.adddoc-form-box-main input{
    width: 300px;
    height: 30px;
}


.adddoc-save-btn{

    border: none;
    border-radius: 10px;
    background-color: brown;
    color: white;
    margin-top:30px;
    margin-left: 100px;
    width: 100px;
    height: 30px;
}