




.show-main{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    background-color: rgb(208, 191, 255);
    
   
}

.show-data-box-main{

      width: 500px;
      height: 200px;
      display: flex;
      border: 1.5px solid #1A5D1A;
      border-radius: 5px;
      margin-right: 10px;
      background-color: white;
      border-radius: 10px;


}

@media(max-width:395px){

      .show-data-box-main{
          height: 240px;
      }
}

.data-box{

     width: 60%;
     height: 100%;
     padding-left: 50px;
     padding-top: 20px;
}


.btn-box{

     width: 50%;
     height: 100%;
     padding-top: 50px;
    
    
}

.data-span{

    font-weight: bold;
}

.can-btn{

       border: none;
       border: 1px solid red;
       color: red;
       margin-left: 100px;
       background-color:white;

     
 }

 .can-btn:hover{

    background-color: red;
    color: white;
 }


 .re-btn{

    margin-left: 100px;
    border:none;
    border: 1px solid orange;
    margin-top: 10px;
    color: rgb(208, 136, 3);
    background-color: white;
 }

 .re-btn:hover{

      background-color: orange;
      color: white;
 }

 .loding-div-show{

       margin-top: 100px;
 }

 .empty-show{

      font-size: 15px;
      font-weight: bold;
      color: green;
      margin-top: 100px;
 }

 /* @media(max-width:395px){

     .show-data-box-main{
         height: 230px;
         width: 400px;
         margin-right: 0;
         
     }

     .re-btn{
          margin-left: 70px;
     }

     .can-btn{

          margin-left: 70px;
      
     }
} */


.data-re-form{

       width: 500px;
       height: 100px;
       background-color: aquamarine;
       position: absolute;
       top: 260px;
       left: 500px;
       border-radius: 10px;
       box-shadow: 0 0 5px #646363;
       padding-top: 20px;
       padding-left: 100px;
}

.data-re-form input{

      width: 300px;
}

.data-resform-btn-can{

        width: 100px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: red;
        color: white;
        margin-top: 10px;
        margin-left: 50px;
}

.data-resform-btn-sav{

     width: 100px;
     height: 30px;
     border: none;
     border-radius: 5px;
     background-color: green;
     color: white;
     margin-top: 10px;
}




@media(max-width:395px){

     .show-data-box-main{
         height: 230px;
         width: 400px;
         margin-right: 0;
         
     }

     .re-btn{
          margin-left: 70px;
     }

     .can-btn{

          margin-left: 70px;
      
     }

     .data-re-form{

          width: 300px;
          left: 40px;
          padding-left: 50px;
     }


     .data-re-form input{

          width: 200px;
    }

    .data-resform-btn-can{
      margin-left: 0px;
    }

    .data-resform-btn-sav{

       margin-left: 0px;
    }

     








}







