


.top-nav-main{

    width: 100%;
    height: 80px;
   background-color: #F7FFF7;
    padding-top: 10px;
    display: flex;

}

.img-box{

    width: 80px;
    height: 60px;
    background-color: antiquewhite;
    margin-left: 40px;
    

}

.logo-img{
    width: 100%;
    height: 100%;
}

.title-top-nav{
    margin-bottom: 0;
    padding-bottom: 0;
    color: #14C814;
    font-size: 35px;
}

.sub-title-top-nav{
    font-size: 10px;
    color: #10347A;
    font-size: 13px;
}


.second-navbr-main{
    width: 100%;
    height: 80px;
    background-color: #1A5D1A;
}

.option-box-main{

    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    /* /* align-items: center; */
    padding-top: 25px;

}

@media(max-width:1040px){
    .option-box-main{
        display: none;
    }
}


.three-bar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:end;
    align-items: center;
    
}

@media(min-width:1040px){

    .three-bar{
        display: none;
    }
}

@media (max-width:600px){

    .img-box{
        margin-left: 0px;
    }

    .title-top-nav{
        font-size: 33px;
    }
    .sub-title-top-nav{
        font-size: 15px;
    }



}

.thre-bar-tongil{

    margin-right: 30px;
    font-size: 35px;
    color: white;
}

.togil-box-main{

    width: 100%;
    height: 500px;
    background-color: #1A5D1A;
    position: absolute;
    
}





.second-options{

    color:white;
    margin-left: 20px;
    font-size: 15px;
    cursor: pointer;
    
}

.nav-drop-btn{

      background-color:#1A5D1A ;
      border: none;
      margin-left: 20px;
       padding-top: 0;
       font-size: 15px;
}

.nav-drop-btn:hover{

      background-color:#1A5D1A;
}

.nav-deop-div{

     width: 300px;
     height: 300px;
    
}

.nav-drop-icon-box{

      width: 100%;
      height: 50px;
      /* background-color: #14C814; */
      display: grid;
      justify-content: center;

      
}

.nav-acc{

    font-size: 30px;
    margin-bottom: 0;
}

.nav-log-btn{

     border: none;
     width: 100px;
     height: 30px;
     background-color:#1A5D1A ;
     color: white;
     border-radius: 10px;
     margin-top: 20px;
     margin-left: 30px;

}


.nav-you-book-btn{

       margin-top: 50px;
       margin-left: 70px;
       border:1px solid  #1A5D1A;
       border-radius: 10px;
       width: 150px;
       height: 30px;
      
      
}
