





.chat-pyment-main{

    width: 100%;
    height: 100vh;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    background-image: url("../../../../public/doctorfind.avif");
    background-size: cover;
    background-position: center;
    
    
}

.chat-pyment-title{

    text-align: center;
    font-size: 20px;
    /* margin-top: 30px; */

}

.chat-pyment-pyment-box-main{

    width: 600px;
    height: 300px;
    background-color:white;
    box-shadow: 0 0 5px rgb(49, 48, 48);
    padding-top: 30px;


}

.chat-pyment-pyment-box-main-title{

      text-align: center;
      color: red;
}

.cht-pyment-box-fee{

    margin-left: 30px;
    margin-top: 50px;


}

.cht-pyment-btn{

     width: 150px;
     height: 40px;
     background-color: green;
     color: white;
     border: none;
     border-radius: 10px;
     margin-top: 70px;
     margin-left: 200px;
    
     
}

.chat-pyment-spin{

    margin-left: 270px;
    margin-top: 80px;
}

.cht-pyment-msg{

     text-align: center;
     font-size: 20px;
     font-weight: 500;
    
}

.cht-pyment-img-div{

      width: 150px;
      height: 150px;
      
      margin-left: 200px;
}

.cht-img{

     width: 100%;
     height: 100%;
}


@media(max-width:600px){

    .chat-pyment-pyment-box-main{

          width: 400px;
    }

    .cht-pyment-btn{

        margin-left: 120px;
    }
}



@media(max-width:400px){

    .chat-pyment-pyment-box-main{

          width: 300px;
    }

    .cht-pyment-btn{

        margin-left:70px;
    }

    .chat-pyment-spin{

         margin-left: 125px;
    }

    .cht-pyment-img-div{

         margin-left: 80px;
    }





}

